body{
    background-color:#0069cc;
    background-image: url('dawn-190055_1280.jpg');
    filter: blur(6px);
  -webkit-filter: blur(0px);
  font-size: 2rem;
  font-family: 'Fjalla One', sans-serif;
}